
#header {
    display: flex;
    justify-content: center;  
    background-color: #290742;   
    width: 100%;
    min-height: 128px;
}

.headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 1195px;
    min-height: 48px;
}

#title {
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    margin: 15px 0 15px 15px;
}

#title span {
    color: #4FFF4B;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    min-height: 70px;
}

.navBar a {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.navBar a:hover {
    text-decoration: none;
    text-decoration-line:underline;
    text-decoration-color:#4FFF4B ;
    transition: 0.5s;
}

.search { 
    display: flex;
    flex-direction: row;
    border: none;
}

.search input {
    width: 250px;
    height: 44px;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: #170027;
    color: #fff;
    padding-left: 25px;
    margin-left: 15px;
}

.search button {
    width: 70px;
    height: 44px;  
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    background-color: #9E6DC2;
}

.search button:hover {
    background-color: #9f6dc2c9;
    transition: 0.4s;
}
