
#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 500px;
    padding-top: 40px;
    border-bottom:solid 6px #4FFF4B;
    background-color: #290742;    
}

#mainAbout {
    margin: 0px 15px 20px 20px;
    width: 570px;
    min-height: 311px;
}

.titleAbout {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 30px;    
    color: #9E6DC2;
}

#main p {
    margin-bottom: 24px;
    font-size: 1.12rem;
    color: #FBF6FF;
}

#main a {
    font-weight: bold;
    color: #9E6DC2;
}

#main span {
    color: #4FFF4B;
    margin-left: 5px;
}

#main a:hover {
    color: #4FFF4B;
    transition: 0.5s;
}

.imgAbout {
    margin: 0px 20px 20px 15px;
    min-height: 311px;
    width: 570px;
}

.imgAbout img {
    width: 100%;
}

#main h2:hover {
    color: #9f6dc2c5;
    transition: 0.3s;
}