
#notice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 30px;
}

.imgMainNotice {
    width: 100%;
}


.mainNotice {
    width: 570px;
    min-height: 311px;
    margin: 0px 15px 20px 20px;
}

.mainNotice h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: #290742;
    margin-bottom: 18px;
}

.mainNotice p {
    padding-bottom: 18px;
}

.rightNotice {
    width: 570px;
    min-height: 311px;
    margin: 0px 20px 20px 15px;
    padding: 0 10px;
}

.rightNotice h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #290742;
    margin-top: 24px;
    margin-bottom: 18px;
}

.noticeData2{
    margin-top: 50px;
}

#notice h2:hover {
    color: #290742d2;
    transition: 0.3s;
}
