
#noticeFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 70px;
}

#noticeFooter h2 {
    margin-top: 18px ;
    margin-bottom: 18px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #290742;
}

#noticeFooter p {
    font-size: 1rem;
}

.n1 {
    width: 370px;
    min-height: 460px;
    margin: 0px 15px 20px 15px;
}

.n1 img {
    margin-bottom: 18px;
    width: 100%;
}

.n2 {
    width: 370px;
    min-height: 460px;
    margin: 0px 15px 20px 20px;
}

.n2 img{
    margin-bottom: 18px;
    width: 100%;
}

.n3 {
    width: 370px;
    min-height: 460px;
    margin: 0px 20px 20px 15px;
}

.n3 img {
    margin-bottom: 18px;
    width: 100%;
}

#noticeFooter h2:hover {
    color: #290742d2;
    transition: 0.3s;
}
